lab5 xml/4/empolyee.xsd

<xs:schema xmlns:xs="../XMLSchema">
<xs:element name="employee">
<xs:complexType>
  <xs:sequence name="human">
    <xs:element name="title" type="xs:string"/>
    <xs:element name="lastname" type="xs:string"/>
    <xs:element name="firstname" type="xs:string"/>
    <xs:element name="jobtitle" type="xs:string"/>
    <xs:element name="address" type="xs:string"/>
  </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>